## Wofi Config

## General
show=drun
prompt=Apps
normal_window=true
layer=top
term=foot
columns=4

## Geometry
width=1024px
height=768px
location=0
orientation=vertical
halign=fill
line_wrap=off
dynamic_lines=true

## Images
allow_markup=true
allow_images=true
image_size=24

## Search
exec_search=false
hide_search=false
parse_search=false
insensitive=false

## Other
hide_scroll=true
no_actions=true
sort_order=default
gtk_dark=true
filter_rate=100

## Keys
key_expand=Tab
key_next=Right
key_prev=Left
key_stop=Supr
key_exit=Escape

# Button definitions
#[buttons]
#1=dialog-information symbolic actions:primary
#2=dialog-warning symbolic actions:primary

# Actions associated with each button
#[actions]
#1=echo "shuffle"
#2=pkill glpaper
